.catalogue-container {
  color: #000000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.custom-nav {
  display: flex;
  justify-content: center;
}

.custom-nav ul {
  list-style-type: none;
  padding: 0;
}

.custom-nav ul li {
  display: inline-flex;
  font-weight: bold;
  color: gray;
  font-size: 28px;
  transition-duration: 0.3s;
}

.custom-nav ul li:hover {
  color: #000000;
  cursor: pointer;
}

.active-li {
  color: #000000 !important;
}

.slide-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 4rem;
}

.info-tab {
  border-top: 1px solid rgb(148, 148, 148);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.percentage {
  font-size: 30px;
  font-weight: bold;
}

.info-tab:last-child {
  border-bottom: 1px solid rgb(148, 148, 148);
}

.item-picture {
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-picture img {
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.slide-3 {
  min-height: 60vh;
  background-position: center;
  background-size: cover;
}
