.down-button-container {
  position: absolute;
  bottom: -20px;
}

.down-button {
  border-radius: 100px;
  transform: rotate(90deg);
  border: 1px solid #ffffff;
  height: 13vw;
  width: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
}

.down-button img {
  filter: invert(1);
  width: 20%;
}

@media (max-width: 768px) {
  .down-button {
    width: 35vw;
    height: 35vw;
  }
}
