.section {
  min-height: 100vh;
  overflow: hidden;
}

.first-section {
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition-duration: 2s;
}

.first-section-bg {
  width: 100% !important;
  object-fit: cover;
  transition-duration: 2s;
  height: 100% !important;
}
.second-section-bg {
  width: 130% !important;
  object-fit: cover;
  height: 130% !important;
  transition: width 2s, height 2s, margin 2s;
}

.hovered-bg {
  width: 90% !important;
  height: 90% !important;
  margin-top: 2.5% !important;
}

.third-hovered-bg{
  width: 100% !important;
  height: 100% !important;
}

.fourth-section-bg{
  height: 180% !important;
  object-fit: contain;
  width: 180% !important;
  transition: height 2s, width 2s;
}

.second-hovered-bg{
  width: 160% !important;
  height: 160% !important;
}

.texts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
